@import url('https://fonts.googleapis.com/css?family=Schoolbell|Monoton&display=swap');
@import url('https://use.typekit.net/ilo7tmb.css');

body {
	width: 100%;
	height: 100%;
	margin: 0;
    padding: 0;
    background-color: black;
}
#container {
    width: 100%;
	height: 100%;
    text-align: center;
}

#soundboard {
    text-align: center;
}

.board-button {
    height: 33.333333333333333333%;
    width: 50%;
    display: block;
    text-align: center;
    vertical-align: middle;
	line-height: 287px;
	margin: 0;
    float: left;
    position: relative;
    font-size: 148px;
}

.board-button .progress {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background-color: grey;
    opacity: 0.5;
    transition: all 0.3s ease-in;
}

.board-button#intro {
    font-family: 
}

.board-button#paris {
    font-family: lust-display;
}

.board-button#bangkok {
    font-family: adobe-thai;
    font-size: 140px;
}

.board-button#mexicocity {
    font-family: 'Monoton';
    font-size: 96px;
}

.board-button#montreal {
    font-family: 'Helvetica Neue';
    font-weight: bold;
}

.board-button#newyorkcity {
    font-family: Helvetica; 
    font-weight: bold; 
    color: white;
    font-size: 98px;
}

.board-button .under {
    position: absolute;
}

.board-button#intro .under {
    top: 205px;
    left: 105px;
    line-height: 56px;
    font-family: 'Schoolbell', cursive;
    font-size: 87px;
}

.board-button#bangkok .under {
    font-family: bungee;
    top: 191px;
    left: 275px;
    line-height: 56px;
    font-size: 28px;
}

.deleted {
    text-decoration: line-through;
}